nav
    ul(style="display: flex; justify-content: flex-end; list-style-type: none")
        li(style="margin-right: 20px")
            a(href=`/${lang}`)= __('main')
        li(style="margin-right: 20px")
            a(href=`/${lang}/page`)= __('page')
        each item in langs
            li
                if (item === lang)
                    span(style="margin-right: 4px")= item
                else
                    a(href=`/${item}${clearPath}` style="margin-right: 4px")= item
